services:
  symfony_app:
    build: ./app
    container_name: symfony_app
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: "pgsql://user:password@database:5432/dbname"
      MESSENGER_TRANSPORT_DSN: "amqp://guest:guest@rabbitmq:5672/%2f/messages"
      REDIS_URL: "redis://redis:6379"
    depends_on:
      - database
      - rabbitmq
      - redis
    volumes:
      - ./app:/app
    command: php -S 0.0.0.0:8000 -t public

  database:
    image: postgres:15
    container_name: database
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: dbname
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"

  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - "6379:6379"

  adminer:
    image: adminer
    container_name: adminer
    restart: always
    ports:
      - "8080:8080"

volumes:
  pgdata:
